/* <div class="pdf">
<iframe src="2021gakunenn.pdf" frameboader="0">
    <p><b>表示されない時の表示</b>: <a href="2021gakunenn.pdf">PDF をダウンロード</a>.</p>
</iframe>
</div> */

.pdf {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    overflow:auto; 
    -webkit-overflow-scrolling:touch;
    border:2px solid #ccc; 
}
.pdf iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border:none;
    display:block;
}